.v-input {
  padding: 3px 6px;
  font-size: 14px;
  border: 1px solid #ccc;

  // size
  &--small {
    padding: 2px 4px;
    font-size: 12px;
  }
  &--large {
    padding: 4px 8px;
    font-size: 16px;
  }
}
